[Unit]
Description=OPI access renews signed certificates
Wants=network-online.target opi-postsetup.service
After=network-online.target opi-postsetup.service

[Service]
Type=oneshot
ExecStart=/usr/share/opi-access/opi-access-boot.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
